<div class="col-12 col-md-6">
    {{ form_row(hookable_metadata.context.form.customPageVisit, sylius_test_form_attribute('customPageVisit')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
</div>
