<div class="tab-pane fade" id="v-steps-events" role="tabpanel" aria-labelledby="v-steps-events-tab"
     tabindex="0">
    <div class="g-col-12 g-col-xl-12 card">
        <div class="card-header">
            <div class="card-title">{{ 'synerise_integration.ui.events'|trans }}</div>
        </div>

        <div class="card-body">
            <div class="w-100 d-flex flex-column">
                {{ form_row(hookable_metadata.context.form.events, sylius_test_form_attribute('events')) }}
                {{ form_row(hookable_metadata.context.form.queueEvents, sylius_test_form_attribute('queueEvents')|merge({
                    attr: {
                        placeholder: 'Test'
                    }
                })) }}
            </div>
        </div>
    </div>
</div>
