<div class="g-col-12 g-col-xl-12 card" style="grid-row: 1 / 4;">
    <div class="card-header">
        <div class="card-title">{{ 'synerise_integration.ui.tracking'|trans }}</div>
    </div>

    <div class="card-body">
        <div class="row">
            {% hook 'tracking' %}
        </div>
    </div>
</div>
