<div class="empty-action">
    <a href="{{ path('synerise_integration_admin_synchronization_configuration_create') }}" class="btn btn-primary">
        {{ ux_icon('bi:gear-fill') }}
        Configure
    </a>
    <a href="" class="btn">
        {{ ux_icon('bi:file-text') }}
        Check docs
    </a>
</div>
