{% block stylesheet %}
    <style>
        .w-12{
            width: 3rem !important;
        }
        .h-12{
            height: 3rem !important;
        }
    </style>
{% endblock %}

<div class="empty-img">
    {{ ux_icon('bi:arrow-repeat', {class: 'w-12 h-12'}) }}
</div>
