<div class="col-12 col-md-12">
    {{ form_row(hookable_metadata.context.form.opengraphEnabled, sylius_test_form_attribute('opengraphEnabled')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
</div>
