<div class="card">
    <div class="card-header">
        <div class="card-title">
            {{ 'synerise_integration.ui.synchronization_configuration.edit.sections.general.title'|trans }}
        </div>
    </div>
    <div class="card-body">
        {{ form_row(hookable_metadata.context.form.channel, sylius_test_form_attribute('channel')) }}
    </div>
</div>
