{% set resource = hookable_metadata.context.resource %}

<div class="col-12 col-md-auto ms-auto d-print-none">
    <div class="btn-list">
        <a href="{{ path('synerise_integration_admin_synchronization_create', {configurationId: resource.id}) }}"
           class="btn btn-primary">
            {{ ux_icon('gridicons:add') }}
            {{ 'synerise_integration.synchronization_configuration.show.actions.new_sync' | trans }}
        </a>
    </div>
</div>
