<style>
    .nav#v-steps-tab{
        background: #ffffff;
        padding: 16px;
        gap:8px;
        border-radius: 4px;
        border: 1px solid rgba(4, 32, 69, 0.1);
    }
    .nav#v-steps-tab button{
        padding: 0.4375rem 1rem;
        border-radius: 4px;
        background: #ffffff;
        border: none;
        text-align: left;
    }
    .nav#v-steps-tab button.active{
        background: var(--tblr-primary);
        color: var(--tblr-light);
    }
</style>

<div class="d-flex align-items-start">
    <div class="nav flex-column me-3 nav-pills text-nowrap" id="v-steps-tab" role="tablist" aria-orientation="vertical">
        <button class="show active" id="v-steps-general-tab" data-bs-toggle="pill" data-bs-target="#v-steps-general" type="button" role="tab" aria-controls="v-steps-general" aria-selected="true">Workspace mapping</button>
        <button id="v-steps-tracking-tab" data-bs-toggle="pill" data-bs-target="#v-steps-tracking" type="button" role="tab" aria-controls="v-steps-tracking" aria-selected="false">Page tracking</button>
        <button id="v-steps-events-tab" data-bs-toggle="pill" data-bs-target="#v-steps-events" type="button" role="tab" aria-controls="v-steps-events" aria-selected="false">Events tracking</button>
    </div>
    <div class="tab-content w-100">
        {% hook 'sections' %}
    </div>
</div>
