{% set synchronization = hookable_metadata.context.resource %}

<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'synerise_integration.ui.synchronization_list'|trans }}
        </div>
    </div>
    <div class="card-body">
        <div>
            <div>
                <div class="table-responsive">
                    <table class="table table-hover table-vcenter card-table" {{ sylius_test_html_attribute('table-items') }}>
                        {% hook 'list' %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
